{
    "overrides": [
        {
            "files": ["package.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "printWidth": 120,
    "quoteProps": "consistent",
    "singleQuote": true,
    "tabWidth": 4
}
